@keyframes c_button_main_fade {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        display: none;
    }
}

@-webkit-keyframes c_button_main_fade {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        display: none;
    }
}

@keyframes c_button_main_show {
    0% {
        opacity: 0%;
        display: block;
    }
    100% {
        opacity: 100%;
    }
}

@-webkit-keyframes c_button_main_show {
    0% {
        opacity: 0%;
        display: block;
    }
    100% {
        opacity: 100%;
    }
}

.c_button_main {
    position: absolute;
    left: 0;
    top: 60%;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 8%;
    background: #28a746;
    border-radius: 10px;
    color: white;
    font-size:x-large;
    border: 0px;
}

.c_button_main:hover {
    background: #38b866;
}

.c_button_main.fade {
    animation: c_button_main_fade 2s;
    -webkit-animation: c_button_main_fade 2s;
    animation-fill-mode: forwards;
}

.c_button_main.show {
    animation: c_button_main_show 2s;
    -webkit-animation: c_button_main_show 2s;
    animation-fill-mode: forwards;
}

.hid {
    display: none;
}

@keyframes c_div_main_show {
    0% {
        opacity: 0%;
        display: block;
        -moz-transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
    }
    100% {
        opacity: 100%;
        -moz-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
}

@-webkit-keyframes c_div_main_show {
    0% {
        opacity: 0%;
        display: block;
        -moz-transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
    }
    100% {
        opacity: 100%;
        -moz-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
}

.c_div_main {
    display: none;
}

.c_div_main.show {
    animation: c_div_main_show 2s;
    -webkit-animation: c_div_main_show 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    display: block;
    height: 60%;
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.c_input_blank{
    border-radius: 10px;
    border: 1px;
    padding: 5px;
    margin: auto;
    display: block;
    width: 100%;
    height: 12%;
    font-size: large;
    margin-bottom: 1%;
}

.c_button_submit {
    display: none;
}

h1{
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 0;
    right: 0;
    margin: auto;
}